<header class="header">
    <section class="about">
      <a href="/">
        <img src="{{site.url}}/assets/img/zr.png" alt="zahra rezazadeh">
      </a>
      <h1>زهرارضازاده</h1>
      <p>(دانشجوی دانشگاه بزرگمهر(مهندسی کامبیوتر</p>
      <a href="#" class="nav-menu menu-open"><span class="menu-btn"></span></a>
      <nav class="nav nav-list">
        <ul>
<li>
            <a href="{{site.url}}/blog">
              <div class="center waves-effect waves-side">
                <h4 class="middle">وبلاگ</h4>
              </div>
            </a>
          </li>
          <li>
            <a href="{{site.url}}/ax">
              <div class="center waves-effect waves-side">
                <h4 class="middle">تصاویرزیبا</h4>
              </div>
            </a>
          </li>
<li>
            <a href="{{site.url}}/resume">
              <div class="center waves-effect waves-side">
                <h4 class="middle">رزومه</h4>
              </div>
            </a>
          </li> 
        </ul>
      </nav>
    </section>
  </header>